.card{
   width:55%;
   margin:0 auto;
   margin-top:30px;
   background-color: aliceblue;
   border-radius: 3px;
   padding: 60px;
   padding-left: 90px;
   font-size: 16px;
   transform: skewX(-12deg);
}

.card__shape{
    width:150px;
    height: 150px;
    float: left;
    -webkit-shape-outside:circle(50% at 50% 50%);
    shape-outside:circle(50% at 50% 50%);
    -weblit-clip-path:circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-30px) skewX(12deg);
    margin-top: -20px;
}

.card__img{
    height:100%;
    
}
.card__text{
    transform: skewX(12deg);
}